@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

span[style*="background-color: rgb(232, 217, 255)"], span[style*="background-color: rgb(255, 228, 0)"], span[style*="background-color: rgb(255, 228, 0)"], span[style*="background-color: rgb(255, 167, 167)"], span[style*="background-color: rgb(241, 241, 241)"]{
  color: black;
}

.sun-editor span[style*="background-color: rgb(255, 0, 221)"], .sun-editor span[style*="background-color: rgb(255, 0, 0)"], .sun-editor span[style*="background-color: rgb(102, 0, 255)"], .sun-editor span[style*="background-color: rgb(189, 45, 103)"], .sun-editor span[style*="background-color: rgb(0, 85, 255)"] {
  color:  white;
}